body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.mar-1{
	background-color: green; 
	padding-top: 10px;
}

nav{
	background-color: #2980b9;
	color: green;
	padding-left: 300px;
	padding-top: 11px;
	padding-bottom: 9px;
}

nav a:link{
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
	padding:10px;
	transition: .5s;
	
}

nav a:visited{
	transition: all 0.5 sec;
	}

nav a:hover{
	text-indent: 40px;
	background-color: #cfcfcf;
	color: red;
	text-indent: 50px;
}

.container{
	background-color: /*#485e74*/ white;
	overflow: auto;
}

.abc{
	text-align: center;
	margin: 30px;
}

.desc{
	text-align: center;
}
.ajaya{
	float: right;
	margin-top: 20px;
}

footer{
  margin-top: 30px; 
  background-color: black; 
  height: 250px; 
  width: 100%;
}
.footer-1{
  padding-left: 30px;
  padding-top: 0px;
  width:300px;
}
.footer-1-footers{
  margin-left: 15px;
}

.aboutus{
  padding-bottom: 50px;
  margin-left: 200px;
  width:360px;
  margin: auto;
  margin-top: -260px;
}
#footer-2{
  display: inline;
  float: right;
  margin-top: -200px;
}
.footer-2-footers img{
  padding: 10px;
  border: 1px solid;
  border-radius: 50px;
  margin: 0 10px;
  color: #262626;
  transition: .5s;
}
.footer-2-footers img:hover{
  transform: rotate(360deg);
}
.footer-2-footers h1{
  margin-left: 110px;
  margin-bottom: 20px;
  margin-top: -45px;
}

.desc{
  margin-left: -160px;
}